@font-face {
    font-family: 'Bebas';
    src: url(../fonts/BebasNeue-Regular.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');



.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  
}

.contenedor-sol{
    background-color: #FAF9F7;
    width: 1050px;
    height: auto;
    text-align: center;
    padding: 40px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.tituloE{
    max-width: 940px;
    font-size: 40px;
    font-family: 'Bebas' !important;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px;
    white-space: pre;
    margin: 0 ;
    margin-bottom: 0.625rem;
}

.sub-titulo{
    align-self: auto;
    color: black;
    font-weight: 600;
    font-family: Roboto;
    margin: 0.625rem !important;
    font-size: 1.5rem;
    text-align: start;
}
.p{
    color: black;
}

@media screen and (max-width:650px) {
    .tituloE{
        font-size: 30px !important;
        font-weight: 600;
    }
    .sub-titulo{
        font-size: 1.05rem;
    }
    
}